asgiref==3.6.0
Django==3.1.3
django-debug-toolbar==2.2
django-ranged-response==0.2.0
django-simple-captcha==0.5.17
Pillow==9.5.0
python-dotenv==1.0.1
pytz==2023.3
setuptools==75.8.0
sqlparse==0.4.3
Unidecode==1.3.8
