{% extends 'men/base.html' %}

{% block content %}

<h1>Профиль {{ title }}</h1>

<div> 
    {% if user_profile.photo %}
    <p><img class='img-article-left' src="{{ user_profile.photo.url }}"></p>
    {% endif %}
    <br>

    <p>Имя: {{user_profile.user.first_name}}</p>
    <p>Фамилия: {{user_profile.user.last_name}}</p>
    <p>Email: {{user_profile.user.email}}</p>
    <p>День рождения: {{user_profile.date_of_birth}}</p>

    <p>
    <a href="{% url 'update_user_profile' user_pk=request.user.pk %}">Редактировать данные профиля</a>
    </p>

</div>

{% endblock content %}
