<ul class="list-articles">
    {% for post in posts %}
        <li>
            <div class="article-panel">
                <div>
                <p class='first'>Категория: {{ post.cat }}</p>

                {% with post.tags as tags %}
                {% if tags.count %}
                <p class='tags'>Теги:
                    {% for tag in tags.all %}
                    <a href="{% url "post_list_by_tag" tag.slug %}">
                    {{ tag.name }}
                    </a>
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
                {% endwith %}

                </div>

                <div>
                <p class="last">Дата: {{ post.time_update|date:"d-m-Y H:i:s" }}</p>
                </div>
            </div>

            {% if post.photo %}
            <p><img class='img-article-left thumb' src="{{ post.photo.url }}"></p>
            {% endif %}

            <h2>{{ post.title }}</h2>
            <p>{{ post.content|linebreaks|truncatewords:50 }}</p>
            <div class="clear"></div>
            <p class="link-read-post"><a href="{{ post.get_absolute_url }}">Читать статью</a></p>
        </li>
    {% endfor %}
</ul>