{% extends 'men/base.html' %}

{% block content %}

<h1>{{ post.title }}</h1>

<div> 
    {% if post.photo %}
    <p><img class='img-article-left' src="{{ post.photo.url }}"></p>
    {% endif %}
    <p>{{ post.content|linebreaks }}</p>
    <br>

    {% with post.tags as tags %}
        {% if tags.count > 0 %}
        <p>Теги:
            {% for tag in post.tags.all %}
            <a href="{% url "post_list_by_tag" tag.slug %}">
            {{ tag.name }}
            </a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% endif %}
    {% endwith %}
</div>
<br>

<div> 
    {% with comments.count as total_comments %}
        {% if total_comments < 0 %}
        <h3>Комментариев пока нет.</h3>

        {% else %}
        <h3>Комментариев: {{ total_comments }}</h3>
            {% for comment in comments %}
                <div>
                    <p>
                    {{ comment.author }},
                    {{ comment.time_create }}:
                    </p>
                    {{ comment.content|linebreaks }}
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<br>

{% include "men/comment_form.html" %}

<h2>Похожие посты:</h2>
{% for post in similar_posts %}
<p>
<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</p>
{% empty %}
Здесь пока ничего нет.
{% endfor %}

{% endblock %}